[submodule "FreeRTOS-Kernel"]
    path = FreeRTOS/FreeRTOS-Kernel
    url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
    tag = V10.5.1
[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
    tag = 1.5.1
[submodule "coreJSON"]
	path = FreeRTOS/coreJSON
	url = https://github.com/FreeRTOS/coreJSON.git
    tag = v3.2.0